body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
header {
    background-color: #333;
    color: white;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
h1 {
    margin: 0;
}
#backendSelect {
    margin-left: auto;
}
form {
    margin: 20px auto;
    width: 80%;
    max-width: 600px;
    text-align: left;
}
.form-row {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 10px;
}
label {
    margin-right: 10px;
    text-align: left;
}
input[type="text"] {
    width: calc(100% - 90px); /* Adjust width to account for button width */
    padding: 10px;
    margin: 10px 0;
    box-sizing: border-box;
}
button {
    padding: 10px 20px;
    font-size: 16px;
    margin-left: 10px;
}
.status-indicator {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin-left: 10px;
}
.status-connected {
    background-color: green;
}
.status-disconnected {
    background-color: gray;
}